#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;

}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}


/* ======================= */
.contImgLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

@keyframes load {
  0% {
    top: 0;
  }

  50% {
    top: -30px;
  }

  100% {
    top: 0;
  }
}

.imgLoader {
  width: 310px;
  position: relative;
  animation: load 1.5s infinite;
}

.contFrontpage {
  display: flex;
  flex-direction: column;

}

.imgFrontpage {
  margin-top: 0.5rem;
  max-width: 1334px;
  height: 200px;
  object-fit: cover;
  box-shadow: 1px 1px 10px 4px #acd929;
  border-bottom: 4px solid #acd929;
}

/* ======================= */
.contSearchJsx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

}

.contSearchValue {
  display: flex;
  justify-content: center;
}

.contSearchValue>input {
  background-color: #00b4ccd3;
  border: 4px solid #add929;
  border-top: 0;
  border-bottom-left-radius: 15px;
  width: 250px;
  height: 30px;
}

.contSearchValue>button {
  background-color: #00b4ccd3;
  border: 4px solid #add929;
  border-top: 0;
  border-bottom-right-radius: 15px;
  width: 70px;
  font-weight: 800;
}

.contSearchResult {
  background-color: #00b4ccd3;
  border: 4px solid #add929;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 250px;
  position: absolute;
  margin-top: 30px;
}

/* ======================= */
.rick {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". ti ."
    "res ty di";

}

.resident {
  grid-area: res;
}

.type {
  grid-area: ty;
}

.dimen {
  grid-area: di;
}

.title {
  grid-area: ti;
}

.person {
  display: flex;
  background-color: azure;
  width: 250px;
  height: 400px;
  color: gray;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.ulPerson {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 2rem;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

@media screen and (min-width: 480px) {
  .imgFrontpage {
    height: 225px;
  }
}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 1024px) {
  .imgFrontpage {
    height: 340px;
  }
}