#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;

}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}


/* ======================= */
.contImgLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

@keyframes load {
  0% {
    top: 0;
  }

  50% {
    top: -30px;
  }

  100% {
    top: 0;
  }
}

.imgLoader {
  width: 310px;
  position: relative;
  animation: load 1.5s infinite;
}

.contFrontpage {
  display: flex;
  flex-direction: column;

}

.imgFrontpage {
  margin-top: 0.5rem;
  max-width: 2000px;
  height: 200px;
  object-fit: cover;
  transition: ease 1s;
  /* box-shadow: 1px 1px 10px 4px #acd929; */
  /* border-bottom: 3px solid #acd929; */
}

/* ======================= */
.contSearchJsx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

}

.contSearchValue {
  display: flex;
  justify-content: center;

}

.contSearchValue>input {
  background-color: rgba(245, 245, 245, 0.471);
  border: 2px solid #add929;
  border-top: 0;
  border-bottom-left-radius: 15px;
  width: 250px;
  height: 30px;
  /* box-shadow: 1px 1px 10px 4px #acd929; */
  padding: 0.5rem;
}

.contSearchValue>button {
  background-color: #00b4ccd3;
  border: 2px solid #add929;
  border-top: 0;
  border-bottom-right-radius: 15px;
  width: 70px;
  font-weight: 800;
  /* box-shadow: 1px 1px 10px 4px #acd929; */
}

.contSearchResult {
  background-color: rgb(245, 245, 245);
  ;
  border: 2px solid #add929;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 275px;
  position: absolute;
  margin-top: 30px;
  color: gray;
}

.contSearchResult.hiddenResult {
  display: none;
}

.contSearchResult>h5 {
  margin: 0.5rem;
  font-size: 15px;
}

/* ======================= */
.contInfoPage {
  display: flex;
  margin: 1rem 2rem;
  flex-direction: column;
  align-items: center;
}

/* ======================= */
.location {
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.471);
  width: 300px;
  max-height: 175px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  transition: ease 1s;
}

.location>h3 {
  font-size: 15px;
  color: white;
  font-weight: 100;
}

.infLoc {
  font-size: 17px;
  color: white;
  font-weight: 600;
}

.resident {
  grid-area: res;
}

.type {
  grid-area: ty;

}

.dimen {
  grid-area: di;

}

.title {
  grid-area: ti;
  font-size: 22px;
  color: white;
  font-weight: 600;
}

/* ======================= */
.contPersonInfo {
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.471);
  width: 250px;
  max-height: 500px;
  border-radius: 25px;
}

.contPersonInfo:hover {
  box-shadow: 1px 1px 10px 4px #acd929;
}

.imgPerson {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.contPersonInfo>li {
  margin: 0.125rem 1rem;
}

.contPersonInfo>li>h3 {
  font-size: 17px;
}

.contPersonInfo>li>h4 {
  font-size: 11px;
  color: white;
  text-align: initial;
  font-weight: 100;
}

.contPersonInfo>li>h5 {
  font-size: 15px;
  color: white;
  text-align: initial;
  font-weight: 600;
}

.ulPerson {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: space-evenly;

}

/* ======================= */
.contPagination {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}
.contPagination > button {
  margin: 0 0.25rem;
  width: 25px;
  /*  */
  border: 2px solid #add929;
  border-radius: 4px;
}
.contPagination>li:hover{
  box-shadow: 1px 1px 10px 4px #acd929;
  cursor: pointer;
}
.active{
  font-weight: 800;
  color: black;
  background: #acd929;
}
.contPagination>li {
  list-style: none;
  display: flex;
  width: 25px;
  margin: 0 0.25rem;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border: 2px solid whitesmoke;
}


#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

@media screen and (min-width: 480px) {
  .imgFrontpage {
    height: 225px;
  }
}

@media screen and (min-width: 720px) {
  .location {
    flex-direction: row;
    width: 700px;
    height: 100px;

  }
}

@media screen and (min-width: 1024px) {
  .imgFrontpage {
    height: 340px;
  }
  .contSearchValue>input {
    width: 450px;
    height: 45px;
  }
  .contSearchResult {
    margin-top: 45px;
    
  }
}